.card {
    position: relative;
    border-radius: 15px;
    display: block;
    margin: 10em;
    background-color: black;
    padding-top: 0.1em;
    width: 45em;
    height: 34em;
}

.card-1 {
    border-radius: 15px;
    display: flexbox;
    background-color: dimgray;
    margin-left: 1em;
    margin-top: 1em;
    border-top: 10px;
    width: 41.6em;
    height: 6em;
    padding: 10px;
}

.box-left {
    border-radius: 15px;
    width: 6em;
    height: 6em;
    background-color: black;
    float: left;
    outline-style: solid;
    outline-color: aliceblue;
    outline-width: 1px;
}

.box-right {
    border-radius: 10px;
    display: block;
    margin-top: 1.8em;
    margin-right: 1.8em;
    width: 6em;
    height: 2.5em;
    float: right;
    background-color: rgb(33, 12, 52);
    outline-style: solid;
    outline-color: aliceblue;
    outline-width: 1px;
}

.text-1 {
    color: aliceblue;
    text-align: center;
    margin-top: 0.5em;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-2 {
    color: aliceblue;
    text-align: center;
    margin-top: 0.7em;
    font-size: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-3 {
    color: aliceblue;
    text-align: center;
    margin-top: 3px;
    font-size: 30px;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-right {
    color:aliceblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 8px;
    font-weight: bold;
}

.text-mid {
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    font-size: 20px;
    margin-top: 2em;
    margin-left: 1em;
    font-weight: bold;
}